.main {
  min-height: calc(100vh - 73.59px - 83.59px);
}
.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}
.price {
  font-size: x-large;
}
.cart {
  width: max-content;
}
.collection {
  background: white;
  margin: 10px auto;
  border: 1px solid white;
  padding: 0;
}
.collection-item {
  background: rgb(38, 161, 77);
  color: white;
  padding: 5px 10px;
  font-size: larger;
}
.dataAboutGoods {
  padding: 5px 10px;
  font-size: larger;
  color: rgb(0, 0, 0);
}
.basketList {
  position: fixed;
  top: 50%;
  animation: show 0.5s ease-in-out;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50rem;
  max-width: 95%;
  text-shadow: 0 6px 0 15px rgba(0, 0, 0, 0.6);
}
.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
}
.basket-delete {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
